*{  
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

  
h1,h2,h3,p,ul{
    margin: 0;
  }

  .nav{
    transform: translateX(0);
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.950);
  } 
  
  .pix{
    position: relative;
    top: 15px;
  }

  .pix-number{
    position: relative;
    left: 35px;
    top: -25px;
  }

  .pix-svg{
    width: 20px;
  }

.pal-green{
    color: rgb(32, 72, 19);
    text-decoration: none;
}

.nav__logo{
    width: 100px;
    height: 100px;
}

.nav__list {
    list-style: none;
    padding: 0;
    position: relative;
    left: 20px;
}

.nav__list, .nav__item{
    display: inline;
}

.nav__link{
    padding: 20px;
    color: rgb(136, 138, 135);
    text-decoration: none;
}

.home_title{
    font-size: 60px;
    margin-bottom: 20px;
    width: 500px;
    left: 1000px;
    top: 200px;
    position: relative;
}

.line{
    width: 120px;
    height: 5px;
    left: -0px;
    top: -0px;
    position: relative;
    border-radius: 5px;
    background-color: rgb(32, 72, 19);
    color: rgb(32, 72, 19);
}

.home{
    align-content: center;
    
}

.scroll-down{
  position: absolute;
  top: 87%;
  left: 53%;
  transform: translate( -50%,-50%);
}

.scroll-down span{
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid rgb(32, 72, 19);
  border-right: 2px solid rgb(32, 72, 19);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scroll-down span:nth-child(2){
  animation-delay: -0.2s;
  transform: rotate(45deg) translate(-20px,-20px);
}

.scroll-down span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate{
    0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(45deg) translate( 20px,20px);
    }
}

.home__data{
 color: #212121;
}

.home_sub-title{
    font-size: 30px;
    margin-bottom: 20px;
    width: 600px;
}

.home_sub-title{
    left:500px;
    top: 200px;
    position: relative;
}

.city{
    width: 450px;
    height: 350px;
    left: 250px;
    position: relative;
    top: -400px;
    box-shadow: 7px 7px 7px rgba(32, 72, 19, 0.411);
}

.border-on-top{
    box-shadow: 7px 7px 7px rgba(32, 72, 19, 0.411);
    background-color: rgb(32, 72, 19);
    width: 250px;
    height: 200px;
    position: relative;
    left: -480px;
    top: -40px;
}


.border-down{
    box-shadow: 7px 7px 7px rgba(32, 72, 19, 0.411);
    background-color: rgb(32, 72, 19);
    width: 250px;
    height: 200px;
    position: relative;
    left: -180px;
    top: -0px;
}

.doação{
    background-color: rgb(32, 72, 19);
    top: -100px;
    padding: 20px;
    position: relative;
    width: 1600px;
}

.doação_img-men{
    width: 450px;
    height: 400px;
    box-shadow: #142b0bf5 7px 7px 7px ;
}

.doação_title{
    position: relative;
    color: whitesmoke;
    left: 550px;
    position: relative;
    font-size: 30px;
    top: -170px;
    width: 850px;
}

.doação-title2{
    color: whitesmoke;
    position: relative;
}

.doação_ano {
    position: relative;
    color: whitesmoke;
    float: left;
    margin-left: 10px;
    padding-left: 50px;
}

#tester{
 position: relative;
 left: 255px;
 top: -100px;
}

.list{
    position: relative;
    list-style: none;
}
 
.doação_city-color{
    color: #F9AE3D;
}

.doação-p{
    font-size: 20px;
}

.container{
    display: flex;
    
}

.card{
    margin: 50px;
    height: 250px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    overflow: hidden;
}

.intro{
    top: 2370px;
    height: 100px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    background: rgba(32, 72, 19, 0.9);
    color: whitesmoke;
    bottom: 230px;
    transition: .5s;
}

.img-card{
    height: 250px;
    width: 300px;
    border-radius: 10px;
    transition: .5s;
}

.card-h1{
    margin: 10px;
    font-size: 30px;

}

.card-p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 220px;
    bottom: 200;
    background: rgb(32, 72, 19);
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

.card:hover img{
    transform: scale(1.1) rotate( -3deg);
}


.warpper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .tab{
    cursor: pointer;
    padding:20px 30px;
    margin:0px 2px;
    background:rgba(32, 72, 19, 0.9);
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
  .panels{
    background:#fffffff6;
    box-shadow: 0 1.5rem 1.5rem #00000091;
    min-height:400px;
    width:100%;
    max-width:900px;
    border-radius:3px;
    overflow:hidden;
    padding:70px;  
  }

  .aspas-tab{
    color: #f0a83c;
  }

  .panel{
    display:none;
    animation: fadein .8s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .panel-title{
    font-size:1.5em;
    font-weight:bold
  }
  .radio{
    display:none;
  }

  #service{
  position: relative;
  padding-top: 200px;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab{
    background:#fffffff6;
    color:#F9AE3D;
    border-top: 3px solid #F9AE3D;
  }

  .botton-doar{
    background: #F9AE3D;
    border: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
  }
   
  .botton-doar:hover{
    box-shadow: 1px 1px 1px 1px rgba(32, 31, 31, 0.301);
    transition: 0.2s;
  }


  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 600px;
    top: 210rem;
  }

  footer {
    padding-top: 30px;
    background-color: rgb(32, 72, 19);
    color: whitesmoke;
  }
  
  .contato{
    top: 80px;
    left: 120px;
    width: 200px;
    position: relative;
  }

  .frase{
    left: 50px;
    top: 120px;
    width: 500px;
    position: relative;
  }

  .line-contato{
    width: 50px;
    height: 3px;
    left: -730px;
    top: 65px;
    position: relative;
    border-radius: 9px;
    background-color: whitesmoke;
    color: whitesmoke;
  }

  .criadores{
    position: relative;
    top: 170px;
    left: 30px;
    width: 200px;
  }

  .formulario{
    background-color: whitesmoke;
    width: 400px;
    height: 300px;
    left: 320px;
    top: -150px;
    border-radius: 5px;
    position: relative;
  }

  form{
    left: -50px;
    position: relative;
    width: 100px;
  }

  .conosco{
    left: 5rem;
    top: 20px;
    position: relative;
    color: #1a1919;
  }

  footer .form-control {
    background-color: #d1cfca;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #1a1919;
    padding: 0.7em 1em;
}

.btn {
    width: 150px;
    height: 30px;
    background-color: #F9AE3D;
    border: none;
}

.perfil-criadores{
    top: 230px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 20px;
    padding: 0px;
}

.top-a{
    color: whitesmoke;
    text-decoration: none;
}

.top-btn{
    scroll-behavior: auto;
    left: 93%;
    top: 80%;
    color: white;
    width: 65px;
    height: 65px;
    background: #f0a83c ;
    position: fixed;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 0px -1px rgba(249,174,61,0.70); 
    box-shadow: 5px 5px 0px -1px rgba(249,174,61,0.70);
    text-decoration: none;
}
  
  @media screen and (max-width: 750px ) {
    .home{
      width: 100%;
    }
    .city{
      width: 200px;
      height: 200px;
      left: 40%;
      top: -250px;
    }

    .border-down{
      width: 100px;
      height: 100px;
      left: -100px;
      top: 0px;
    }

    .border-on-top{
      width: 100px;
      height: 100px;
      left: 60px;
      top: -100px;
    }

    .nav{
      display: none;
    }

    .home_title{
    font-size: 35px;
    top: 400px;
    left: 455px;
    }

    .line{
      width: 60px;
      left: -150px;
    }

    .home_sub-title{
      width: 350px;
      font-size: 20px;
      top: 420px;
      left: 30px;
    }

    .doação{
      top: 100px;
      width: 750px;
      height: 750px;
    }

    .doação_title{
      font-size: 25px;
      left: 190px;
      top: 50px;
    }

    .doação-title2{
      width: 280px;
      font-size: 19px;
      top: 100px;
      left: 190px;
    }

    .list{
      font-size: 11px;
      left: 160px;
      top: 130px;
    }

    .doação_ano{
      margin-left: 5px;
     padding-left: 10px;
    }

    .doação_img-men{
      width: 100px;
      height: 100px;
    }

    .doação-p{
      width: 300px;
      font-size: 15px;
      left: -500px;
      top: 55px;
    }

    #tester{
      display: none;
    }

    .card{
      margin: 5px;
      left: 200px;
      top: 120px;
    }

    .img-card{
      width: 100px;
      height: 80px;
      left: 50px;
    }


  }

  
